.footer {
  text-align: center;
  width: 100vw;
  height: 4rem;
  background: rgb(40, 40, 40);
  align-items: center;
  justify-content: center;
  font-size: small;
  font-weight: 300;
  padding: 1rem 0;
}
